.container {
  max-width: 700px;

  margin: 0 auto;
}

.exitPreview {
  background: var(--heading);

  text-align: center;
  border-radius: 0.25rem;

  margin-bottom: 5rem;

  a {
    display: block;

    padding: 1.125rem 0;

    color: var(--background);
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
